@charset "UTF-8";

@font-face{
    font-family: "mangaFont";
    src: url("../assets/animeace2_reg.ttf") format("truetype");
}

h1#mangaFont{ 
    font-size: 1em;
    font-family: "mangaFont"!important;
    transform: translateX(56%);
    transform: translateY(100%);
    left: 17%;
    top: 25%;
}

.backTop{
    display: flex;
    position: fixed;
    right: 2%;
    top: 12%;
}
.backTop h1{
    position: absolute;
    color: #0d1114;
}
.backTopBallon{
    width: 185px;
}
#backTop{
    transition-duration: 0.6s;
    opacity: 1;
}
#hidden{
    transition-duration: 0.4s;
    opacity: 0;
}